doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    //- link(rel="icon" href="<%= BASE_URL %>favicon.ico")
    title aem-webapp
  body
    div.container.mt-2
      h1.text-center.bg-primary.text-white.p-2 Templates
      table.table.table-striped
        thead.thead-dark
          tr
            th #
            th Name
            th Link
            th Description
          
        tr
          td 1
          td Base Page
          td
            a(href="/basepage") Base Page
          td  The Base Page Template for an AEM application.
      
        tr
          td 2
          td Home Page
          td
            a(href="/homepage") Home Page
          td  The Home Page Template for an AEM application.
        
        tr
          td 2
          td Insights Page
          td
            p Insights Page (WIP)
          td  The Insights Page Template for an AEM application.
