if process.env.NODE_ENV === 'development'
  include /includes/Navbar.pug
  
  block template-content
  
  include /includes/Footer.pug

else 
  
  //- HEADER
  sly(data-sly-include="/apps/aemarch13/dist/includes/Navbar.html")
  //- CONTENT
  sly(data-sly-resource="${ 'pageExperienceComponents' @ resourceType='/libs/foundation/components/parsys' }")
  //- FOOTER
  sly(data-sly-include="/apps/aemarch13/dist/includes/Footer.html")
