if process.env.NODE_ENV === 'development'
  include /includes/Navbar.pug
  
  block template-content
    
  include /includes/Footer.pug

else 
  
  //- HEADER
  sly(data-sly-include="/apps/aemarch13/dist/includes/Navbar.html")
  //- CONTENT
  sly(data-sly-include="template-content.html")
  //- FOOTER
  sly(data-sly-include="/apps/aemarch13/dist/includes/Footer.html")
