div#app
  h1 This is the app
  include /experiences/global/xt-navbar/xt-navbar
  include /aem-components/global/image-link/image-link
  a(is="image-link-12" href="https://www.google.com")
    img(src="https://placehold.it/120x40")
      
