table.table.table-striped
  thead.thead-dark
    tr
      th #
      th Name
      th Link
      th Description
    
    tr
      td 1
      td XT Navbar
      td
        a(href="/experiences/global/xt-navbar/index.html") Navbar Experience
      td  The XT Navbar Experience

    tr
      td 2
      td Image Link
      td
        a(href="/components/global/image-link/index.html") Image Link
      td  The Image Link AEM Component
      
    tr
      td 3
      td XT Container
      td
        a(href="/experiences/global/xt-container/index.html") Container
      td  The Container Experience
