mixin cqPlaceholder(isEmptyParam)
  -
    var dataSlyCall = '{templates.placeholder @ isEmpty=!'+ isEmptyParam +' }'
  style(type="text/css").
    .cq-placeholder, 
    .new {
      height: auto;
    }
  sly(
    data-sly-use.templates="/apps/core/wcm/components/commons/v1/templates.html"
    data-sly-call=dataSlyCall
  )
