mixin cqPlaceholder(isEmptyParam)
  -
    var dataSlyCall = '${template.placeholder @ isEmpty=!'+ isEmptyParam +' }'
  sly(data-sly-use.template="/apps/core/wcm/components/commons/v1/templates.html")
  sly(data-sly-call=dataSlyCall)
