a.navbar-brand(
  href="/"
  data-vue-component="global/LogoAuthor"
) {{ title }}
  sly(
    data-sly-resource="${ 'logo' @ resourceType='/apps/aemarch13/dist/components/global/LogoAuthor' }"
    data-sly-unwrap
  )
  include /pug-mixins/cq-placeholder  
  +cqPlaceholder('imgSrc')
